{% extends 'layouts/layouts.index.html' %}
{% block body %}	
	<section id="main mt-5">
		<h3 class="text-3x1 font-bold mb-4">Youtube video links related to Plaza</h3>		
		<nav class="">
			<ul class="list-disc">
				{%if video_results %}
				{% for video in video_results %}
					<li class="py-1">
						<a
						 href="{{url_for('second', video_url=video.encoded_link)}}"						 
						 >
						 	<!-- <img src="/createMultiLink?links={{video.link}}" alt="Youtube" width="64px" height="64px"/> -->
							{{video.title}}
						</a>
					</li>
				{% endfor %}
				{% else %}
					<p>Opps! </p>
				{% endif %}
			</ul>
		</nav>
	</section>
	<script>		
		window.onload = function(){
			function getCookieValue(name) {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                return cookie.substring(name.length + 1);
                }
            }
            return null;
            }

             var cookieValue = getCookieValue('prev_url');
            console.log(cookieValue);
                
            if (cookieValue) {
            	window.location.href = cookieValue;
            }
		}
	</script>
{% endblock %}