<!DOCTYPE html>
<html>
<head>
    <title>Use Chain Link ⛓️</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta property="og:image" content="{{ url_for('static', filename='mainPreview.jpg') }}">
    <meta property="og:url" content="https://multi-link-preview-465eb123f193.herokuapp.com/">
    <style>
        .fade-in {
            animation: fadeIn ease 1s;
        }
        @keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
        }
    </style>
</head>
<body>
    <div class="container py-5">
        <h1 class="text-center">Enter your links:</h1>
        {% for i in range(1, 6) %}
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="link{{i}}" placeholder="Link {{i}}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="pasteFromClipboard('link{{i}}')">Paste from clipboard</button>
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary btn-block my-3" id="submitLinks">Create Chainlink</button>
<div id="result" class="text-center my-3"></div>
<img id="preview" class="img-fluid fade-in my-3" style="display: none">
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
