<!DOCTYPE html>
<html>
<head>
    <title>Multi Link Preview</title>
    <meta property="og:image" content="{{ image_url }}">
    <meta property="og:title" content="Multi Link Preview">
    <meta property="og:url" content="{{ request.url }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .btn-custom {
            margin-top: 20px;
            width: 100%;
        }
        img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <img src="{{ image_url }}" alt="Multi Link Preview">
        {% for link in links %}
            <button class="btn btn-primary btn-custom py-3" onclick="window.location.href='{{ link }}'">
                Link {{ loop.index }}
            </button>
        {% endfor %}
    </div>
</body>
</html>
